<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="success" class="alert alert-success alert-dismissible fade show" role="alert">
    <span th:text="${success}"></span>
    <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
    ></button>
</div>
<div th:fragment="error" class="alert alert-danger alert-dismissible fade show" role="alert">
    <span th:text="${error}"></span>
    <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
    ></button>
</div>
</html>