<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
<body class="d-flex flex-column vh-100">
    <nav th:replace="fragments/navbar.html :: navbar"></nav>
    <main class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="alert alert-danger" role="alert">
                    <div th:unless="${#strings.equals('PRODUCTION', @environment.getProperty('env'))}" th:remove="tag">
                        <p class="h4 alert-heading"
                                th:if="${exception} or (${message} and ${message.length() != 0})">
                            <span th:if="${exception}" th:text="${exception}">exception ...</span>
                            <span th:if="${message} and ${message.length() != 0}"
                                  th:text="${message}">message ...</span>
                        </p>
                    </div>
                    <div th:if="${#strings.equals('PRODUCTION', @environment.getProperty('env'))}" th:remove="tag">
                        <p class="h4 alert-heading">Something went wrong</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
<footer th:replace="fragments/footer.html :: footer"></footer>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>